
<div class="container">
    <div class="btn-create clearfix">
        <button type="button" class="btn btn-primary pull-right">Create new invoice</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>2</td>
            <td>3</td>
            <td>@4</td>
        </tr>
        </tbody>
    </table>
</div>